@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./reset.css);

@layer base {
  html {
    @apply font-primary;
  }
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    @apply leading-tight bg-background;
  }
  a {
    @apply text-inherit;
  }
  li {
    @apply list-none;
  }
  .page-wrapper {
    @apply max-w-[1920px] w-full md:h-auto mx-auto;
  }
  .banner-wrapper {
    @apply w-full h-[360px] px-[10px] md:px-4 md:max-h-[600px] md:h-full bg-[#E8F1FF];
  }
  .page-container {
    @apply max-w-[1440px] h-full md:h-auto mx-auto w-full;
    &--child {
      @apply px-3 md:px-6;
    }
  }
  .heading-section {
    @apply text-h1 text-2xl font-bold md:text-[44px] md:leading-tight;
  }
  .desc-section {
    @apply text-[#777781] text-sm md:text-base md:leading-tight;
  }
  .background-primary {
    @apply p-3 md:p-7;
    background-color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
      rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    border-radius: 12px;
    z-index: 0;
  }
  .entry-content,
  .entry-content .ql-snow .ql-editor {
    font-family: "Lexend Deca", sans-serif;
    font-size: 16px;
    strong {
      font-weight: bold;
    }
    em {
      font-style: italic;
    }
    h2,
    h3,
    h4 {
      font-weight: bold;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 26px;
    }
    h4 {
      font-size: 22px;
    }
    p {
      margin-bottom: 20px;
      line-height: 2;
    }
    figure {
      margin-bottom: 20px;
    }
    figure img {
      border-radius: 20px;
      margin-bottom: 10px;
    }
    figcaption {
      text-align: center;
      font-style: italic;
      font-size: 14px;
      color: #6b6b6b;
    }
    ul {
      list-style-type: disc;
    }
    ol {
      list-style: decimal;
    }
    ul,
    ol {
      margin-bottom: 20px;
      padding-left: 40px;
      margin-left: 0;
      li {
        margin-bottom: 10px;
      }
    }
    img {
      border-radius: 8px;
      margin-bottom: 30px;
    }
    @media screen and (max-width: 1023.98px) {
      font-size: 14px;
      h2 {
        font-size: 26px;
      }
      h3 {
        font-size: 24px;
      }
      h4 {
        font-size: 20px;
      }
    }
  }
  .custom-quill {
    .ql-container {
      height: 300px;
    }
  }
}
.quill {
  @apply border border-solid border-gray-200 rounded-xl flex flex-col;
  padding: 15px 25px;
  .ql-toolbar.ql-snow {
    border: none;
    @apply bg-[#B2B3BD] bg-opacity-10 rounded-xl py-3 px-5 inline-block mx-auto;
  }
  .ql-container.ql-snow,
  .ql-editor {
    @apply border-none font-primary text-sm;
    p {
      @apply leading-normal;
    }
  }
  .ql-editor {
    @apply pt-10;
  }
  .ql-editor.ql-blank::before {
    @apply text-sm not-italic text-[#B2B3BD];
  }
}
.input-hover {
  transition: background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
  @apply w-full border-[2px] border-solid border-[#DFE1E6] rounded-[4px] hover:bg-[#EBECF0];
  &:focus-within {
    @apply border-primary bg-white;
  }
}
.MuiPaper-root {
  &.MuiPaper-elevation2 {
    @apply shadow-none rounded-xl overflow-hidden;
  }
  .MuiTableRow-head {
    @apply bg-gray-100;
  }
  .MuiTableCell-root {
    @apply border-none;
  }
}
.MuiDateCalendar-root {
  border-radius: 8px;
  margin: 0;
  display: flex;
  flex-shrink: 0;
  width: fit-content;
  height: auto;
  .MuiDayCalendar-header,
  .MuiDayCalendar-weekContainer {
    gap: 18px;
  }
  .MuiDayCalendar-monthContainer {
    display: flex;
    flex-direction: column;
  }
  .MuiPickersDay-dayWithMargin {
    font-size: 16px;
    font-weight: 300;
  }
}
